header {
    background-color: var(--background-color);
    border-top: 1px solid var(--border-color);
    padding: 10px 0;

    .header__container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;
        gap: 5px;

        .header__btn {
            width: 100%;
            padding: 6px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 2px;
            color: var(--primary-color);
            font-size: 12px;
            font-weight: 600;
            cursor: pointer;
            overflow: hidden;
            position: relative;
            z-index: 1;
            transition: all 0.3s ease;

            .header__btn-icon {
                font-size: 18px;
                line-height: 1;
            }

            span:last-child {
                max-width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: block;
                text-align: center;
            }
            
            &:hover {
                background-color: var(--hover-color);
            }
        }
        
    }
}

.header__active-bg {
    position: absolute;
    top: 0;
    height: 100%;
    background: var(--active-color);
    border-radius: 10px;
    z-index: 0;
    transition: left 0.3s, width 0.3s;
}