:root {
    --background-color: #f3f3f3;
    --primary-color: #1d1d1f;
    --secondary-color: #fff;
    --tertiary-color: #000;
    --border-color: #848484;
    --hover-color: #00000008;
    --active-color: #00000023;

}

:root[data-theme="dark"] {
    --background-color: #172030;
    --primary-color: #fff;
    --secondary-color: #000;
    --tertiary-color: #fff;
    --border-color: #e5e7eb;
    --active-color: #ffffff23;
    --hover-color: #ffffff08;
}

