:root {
    // colors
    --primary-color: #1d1d1f;
    --secondary-color: #fff;
    --tertiary-color: #000;
    --placeholder-color: #848484;
    --link-color: #312e81;

    // backgrounds
    --background-color: #f3f3f3;
    --secondary-background-color: #fff;
    --tertiary-background-color: #52f9f9;

    // borders
    --border-color: #848484;

    // hover
    --hover-color: #00000008;

    // active
    --active-color: #00000023;

    // shadow
    --shadow-color: #0000001a;
}

:root[data-theme="dark"] {
    // colors
    --primary-color: #fff;
    --secondary-color: #000;
    --tertiary-color: #fff;
    --placeholder-color: #848484;
    --link-color: #312e81;

    // backgrounds
    --background-color: #172030;
    --secondary-background-color: #151d2b;
    --tertiary-background-color: #52f9f9;

    // borders
    --border-color: #e5e7eb;

    // active
    --active-color: #ffffff23;

    // hover
    --hover-color: #ffffff08;

    // shadow
    --shadow-color: #ffffff1a;
}

